<spinner-app *ngIf="spinnerService.spinner"></spinner-app>
<edit-product *ngIf="modalService.edit"
              [product]="selectProduct"
              (saveEditModal)="saveEditModal($event)"></edit-product>
<div class="table-case__button">
  <button class="table-case__button-item"
          (click)="getAllProducts(product)">
    <svg class="table-case__button-item-svg"
         data-src="./assets/images/svg/magnifier.svg">
    </svg>
    <div class="table-case__button-item-text">
      Get All Products
    </div>
  </button>
  <div class="table-case__button-input-wrapper">
    <label class="table-case__button-input-wrapper-text">Choice gender:</label>
    <select class="table-case__button-input-wrapper-button"
            [(ngModel)]="genders"
            (ngModelChange)="getGenders()">
      <option [ngValue]="null">All Genders</option>
      <option *ngFor="let gender of genderMenu"
              [ngValue]="gender">{{gender}}</option>
    </select>
  </div>
  <button class="table-case__button-item"
          (click)="getGenders()">
    <svg class="table-case__button-item-svg"
         data-src="./assets/images/svg/delete-all.svg">
    </svg>
    <div class="table-case__button-item-text">Get gender</div>
  </button>
  <div class="table-case__button-input-wrapper">
    <label class="table-case__button-input-wrapper-text">Choice category:</label>
    <select class="table-case__button-input-wrapper-button"
            [(ngModel)]="categories"
            (ngModelChange)="getCategory($event)">
      <option [ngValue]="null">All categories</option>
      <option *ngFor="let category of categoryMenu"
              [ngValue]="category">{{category}}</option>
    </select>
  </div>
  <button class="table-case__button-item"
          (click)="deleteAllProduct()">
    <svg class="table-case__button-item-svg"
         data-src="./assets/images/svg/delete-all.svg">
    </svg>
    <div class="table-case__button-item-text">Delete All</div>
  </button>
</div>
<table class="table-case">
  <tr class="table-case__head _background">
    <th class="table-case__head-name"
        (click)="sortProduct('api')">API
    </th>
    <th class="table-case__head-code"
        (click)="sortProduct('auth')">Author
    </th>
    <th class="table-case__head-category"
        (click)="sortProduct('category')">Category
    </th>
    <th class="table-case__head-cors"
        (click)="sortProduct('cors')">Cors
    </th>
    <th class="table-case__head-description"
        (click)="sortProduct('description')">Description
    </th>
    <th class="table-case__head-http">HTTPS</th>
    <th class="table-case__head-link"
        (click)="sortProduct('link')">Link
    </th>
    <th class="table-case__head-gender"
        (click)="sortProduct('gender')">Gender
    </th>
    <th class="table-case__head-delete">Edit</th>
  </tr>
  <tr *ngIf="!product.length"
      class="table-case__head">
    <td class="table-case__head-name">No data</td>
    <td class="table-case__head-code">No data</td>
    <td class="table-case__head-category">No data</td>
    <td class="table-case__head-cors">No data</td>
    <td class="table-case__head-description">No data</td>
    <td class="table-case__head-http">No data</td>
    <td class="table-case__head-link">No data</td>
    <td class="table-case__head-gender">No data</td>
  </tr>
  <tr *ngFor="let item of product"
      class="table-case__head">
    <td class="table-case__head-name">{{item.api}}</td>
    <td class="table-case__head-code">{{item.auth}}</td>
    <td class="table-case__head-category">{{item.category}}</td>
    <td class="table-case__head-cors">{{item.cors}}</td>
    <td class="table-case__head-description">{{item.description}}</td>
    <td class="table-case__head-http">{{item.https}}</td>
    <td class="table-case__head-link">{{item.link}}</td>
    <td class="table-case__head-gender">{{item.gender}}</td>
    <td class="table-case__head-delete">
      <button class="table-case__head-delete-edit"
              type="button"
              (click)="editProduct(item)">edit product
      </button>
      <button class="table-case__head-delete-button"
              type="button"
              (click)="deleteProduct(item.id)">
        <svg class="table-case__head-delete-button-icon"
             data-src="./assets/images/svg/basket.svg"></svg>
      </button>
    </td>
  </tr>
</table>
