.table-case {
  width: 100%;
  &__button {
    display: flex;
    flex-wrap: wrap;
    padding: 10px 20px;
    align-items: flex-end;
    justify-content: space-around;
    &-item {
      justify-content: space-around;
      height: 40px;
      width: 172px;
      display: flex;
      font-size: 15px;
      padding: 5px 15px;
      font-weight: bold;
      align-items: center;
      border-radius: 10px;
      color: var(--color-slider);
      border: 3px Solid var(--color-slider);
      background-color: var(--color-primary);
      &:hover {
        transition: 1s;
        color: var(--color-primary);
        background-color: var(--color-sidebar-font);
        .table-case__button-item-svg {
          transition: 1s;
          fill: var(--color-primary);
        }
      }
      &-svg {
        width: 30px;
        height: 30px;
        fill: var(--color-slider);
      }
      &-text {
        font-size: 15px;
        font-weight: bold;
      }
    }
    &-input-wrapper {
      display: flex;
      flex-direction: column;
      &-text{
        text-align: center;
        color: var(--color-slider);
        font-size: 15px;
        font-weight: bold;
      }
      &-button {
        height: 40px;
        width: 172px;
        display: flex;
        font-size: 15px;
        padding: 5px 15px;
        font-weight: bold;
        align-items: center;
        cursor: pointer;
        border-radius: 10px;
        color: var(--color-slider);
        border: 3px Solid var(--color-slider);
        background-color: var(--color-primary);
        &:hover {
          color: var(--color-primary);
          background-color: var(--color-sidebar-font);
        }
      }
    }
  }
  &__head {
    width: 100%;
    display: flex;
    align-items: center;
    color: var(--color-secondary);
    border: 1px solid var(--color-secondary);
    &-name {
      width: 10%;
      text-align: left;
    }
    &-category {
      width: 10%;
      text-align: left;
    }
    &-code {
      width: 8%;
      text-align: left;
    }
    &-cors {
      width: 7%;
      text-align: left;
    }
    &-description {
      width: 15%;
      text-align: left;
    }
    &-http {
      width: 5%;
      text-align: left;
    }
    &-link {
      width: 30%;
      text-align: left;
      }
    &-gender {
      width: 5%;
      text-align: left;
    }
    &-delete {
      display: flex;
      width: 10%;
      text-align: left;
      &-edit {
        margin: 2px 0;
        font-size: 11px;
        padding: 2px 6px;
        border-radius: 5px;
        display: inline-block;
        color: var(--color-secondary);
        background-color: var(--color-status-table);
        transition: color .2s ease-in-out, background-color .2s ease-in-out;
        &:hover {
          color: var(--color-secondary);
          background-color: var(--color-change-product);
        }
      }
      &-button {
        margin-left: 3px;
        padding: 3px;
        border-radius: 5px;
        transition: background-color .2s, fill .2s;
        background-color: var(--color-sidebar-font);
        &:hover {
          background-color: var(--color-slider);
        }
        &-icon {
          width: 24px;
          height: 24px;
          fill: var(--color-slider);
          &:hover {
            fill: var(--color-sidebar-font);
          }
        }
      }
    }
  }
}
._background {
  padding: 5px 0;
  font-weight: bold;
  background-color: var(--color-sidebar-font);
  border-right: 1px solid var(--color-secondary);
  border-left: 1px solid var(--color-secondary);
}
._transform {
  transform: rotate(180deg);
}
