<div class="button">
	<button class="button-item"
	        (click)="modalService.openNotifyModal()">
		Tips
	</button>
	<div class="modal">
		<div class="modal-page">
			<div class="modal-page-content">
				<div class="modal-page-content-left"
				     (click)="sliderService.leftText()">
					<svg data-src="./assets/images/svg/left-arrow.svg"></svg>
				</div>
				<div class="modal-page-content-text">
					{{sliderService.showText()}}
				</div>
				<div class="modal-page-content-right"
				     (click)="sliderService.rightText()">
					<svg data-src="./assets/images/svg/left-arrow.svg"></svg>
				</div>
			</div>
		</div>
	</div>
</div>


