.button {
  height: 55px;
  width: 120px;
  transition: 1s;
  font-size: 25px;
  cursor: pointer;
  margin: 300px auto;
  border-radius: 10px;
  color: var(--color-primary);
  background-color: var(--color-slider);
  &-item {
    height: 55px;
    width: 120px;
    font-size: 25px;
    border-radius: 10px;
    color: var(--color-primary);
    border: 2px Solid var(--color-slider);
    &:hover {
      transition: 1s;
      color: var(--color-slider);
      background-color: var(--color-primary);
    }
  }
}
.modal {
  padding: 10px;
  height: 200px;
  display: none;
  margin-top: -262px;
  position: absolute;
  border-radius: 10px;
  box-shadow: 7px 6px 23px rgb(0 0 0 / 24%);
  &-page {
    height: 200px;
    &-content {
      width: 330px;
      display: flex;
      height: 180px;
      align-items: center;
      border-radius: 10px;
      justify-content: center;
      color: var(--color-secondary);
      &-left {
        width: 20px;
        margin: 0 auto;
        align-items: center;
        justify-content: center;
        fill: var(--color-secondary);
        &:hover {
          cursor: pointer;
          fill: var(--color-slider);
        }
      }
      &-right {
        width: 20px;
        margin: 0 auto;
        align-items: center;
        justify-content: center;
        transform: rotate(180deg);
        fill: var(--color-secondary);
        &:hover {
          cursor: pointer;
          fill: var(--color-slider);
        }
      }
      &-text {
        width: 70%;
        font-size: 25px;
        text-align: center;
      }
    }
  }
}
.button:hover .modal {
  display:block;
  position:absolute;
  transform: translate (0px, -200px);
}