<div class="menu"
     [class._reduce]="reduceSidebar"
     [class._delete]="deleteSidebar"
     [class._minimal]="minimalSidebar">
	<ul class="menu__list">
		<li *ngFor="let itemSidebar of SIDEBAR_ITEMS"
		    class="menu__list-item"
		    routerLinkActive="active"
		    [routerLink]="itemSidebar.link">
			<button class="menu-button"
			        type="btn">
				<svg class="menu__list-item-icon"
				     [attr.data-src]="itemSidebar.svg">
				</svg>
				<span class="menu__list-item-text">
					{{itemSidebar.text}}
				</span>
			</button>
		</li>
	</ul>
</div>
