.menu {
  width: 100%;
  &__list {
    display: block;
    height: 100%;
    &-item {
      padding: 20px;
      cursor: pointer;
      overflow: hidden;
      align-items: center;
      transition: width .4s;
      width: var(--sidebar-item-width);
      &:hover {
        transform: translateY(0px);
        box-shadow: 0 4px 17px rgb(0 0 0 / 35%);
        .menu__list-item-text {
          color: var(--color-sidebar-font);
        }
        .menu__list-item-icon {
          fill: var(--color-sidebar-font);
        }
      }
      &-text {
        opacity: 1;
        font-size: 20px;
        align-items: center;
        visibility: visible;
        white-space: nowrap;
        transition: opacity .4s;
        color: var(--color-secondary);
      }
      &-icon {
        width: 25px;
        height: 25px;
        margin-right: 20px;
        opacity: 1;
        fill: var(--color-secondary);
      }
    }
  }
  &-button {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
  }
}
._reduce {
  .menu__list-item {
    overflow: hidden;
    transition: width .4s;
    width: var(--sidebar-item-min-width);
    &-icon {
      margin-right: 20px;
    }
    &-text {
      opacity: 0;
      transition: opacity .4s;
    }
  }
}
._delete {
  .menu__list {
    padding: 0;
    opacity: 0;
    transition: opacity .4s;
    &-item {
      width: 0;
      padding: 0;
      height: 70px;
      transition: width .4s;
      &-icon {
        display: none;
        transition: none .4s;
      }
      &-text {
        opacity: 0;
        transition: opacity .4s;
      }
    }
  }
}
.active {
  background-color: var(--color-primary);
  box-shadow: 0 1px 14px 0 var(--color-shadow);
  border-left: 6px solid var(--color-sidebar-font);
  & .menu__list-item-text {
    color: var(--color-sidebar-font);
  }
  & .menu__list-item-icon {
    fill: var(--color-sidebar-font);
  }
}

@media (max-width: 599px) {
  ._minimal {
    .menu__list {
      z-index: 1;
      position: absolute;
      background-color: var(--color-sidebar-background);
    }
  }
}
