<header-app [isReduceSidebar]="sidebarService.isReduceSidebar"
            (mainUserChoice)="sidebarService.mainUserChoice()"
            (setLocalStorage)="sidebarService.setLocalStorage()"
            (openNotifyModal)="modalService.openNotifyModal()">
</header-app>
<div class="main"
     (window:resize)="sidebarService.windowReduce()">
	<popup-modal></popup-modal>
	<div class="main__sidebar">
		<sidebar-app [reduceSidebar]="sidebarService.isReduceSidebar"
                 [deleteSidebar]="sidebarService.isDeleteSidebar"
                 [minimalSidebar]="sidebarService.isMinimalSidebar"
                 [userMakeChoice]="sidebarService.isUserMakeChoice"></sidebar-app>
	</div>
  <div [class.main__rout_background]="sidebarService.isMinimalSidebar"
       (click)="sidebarService.mainUserChoice()"></div>
	<div class="main__rout">
		<router-outlet></router-outlet>
	</div>
</div>
