.main {
  width: 100%;
  display: flex;
  overflow-y: scroll;
  height: calc(100% - 70px);
  &__rout {
    flex-grow: 1;
    overflow-y: auto;
    padding: 20px;
    flex-wrap: wrap;
  }
  &__sidebar {
    background-color: var(--color-sidebar-background);
  }
}

@media (max-width: 599px) {
  .main__rout {
    &_background {
      left: 0;
      right: 0;
      bottom: 0;
      top: 70px;
      display: block;
      position: absolute;
      background-color: rgba(0, 0, 0, 0.8);
    }
  }
}
