.active {
  background-color: var(--color-primary);
  border-left: 6px solid var(--color-sidebar-font);
  & .menu__list-item-text {
    color: var(--color-sidebar-font);
  }
  & .menu__list-item-icon {
    fill: var(--color-sidebar-font);
  }
}