:root {
  // colors:
  --color-primary: white;
  --color-shadow: #dedede;
  --color-secondary: grey;
  --color-sidebar-font: #add8e6;
  --color-slider: #3c82f6;
  --color-sidebar-background: #f8fffd;
  --color-border-table: black;
  --color-status-table: #43cfc8;
  --color-background-status-table: #c8f6f3;
  --color-change-product: #d5e7e6;
  --color-under-table: rgba(0, 0, 0, 0.8);
  --color-change-product-title: #686d70;

  // height:
  --header-height: 70px;
  --modal-button-height: 52px;
  --sidebar-item-height: 60px;

  // width:
  --modal-button-width: 120px;
  --sidebar-item-width: 350px;
  --sidebar-item-min-width: 70px;
}
