<div class="header">
	<svg class="header__burger"
	     data-src="/assets/images/svg/burger-menu.svg"
	     [class._active-burger]="isReduceSidebar"
	     (click)="mainUserChoice.emit(); setLocalStorage.emit()">
	</svg>
	<button class="header__modal"
	        type="button"
	        (click)="openNotifyModal.emit()">
		Modal Window
	</button>
</div>
