.header {
  display: flex;
  max-width: 100%;
  align-items: center;
  height: var(--header-height);
  padding: 10px 25px 10px 25px;
  justify-content: space-between;
  box-shadow: 0 6px 12px 0 var(--color-shadow);
  border-bottom: 0.5px Solid var(--color-secondary);
  background-color: var(--color-sidebar-background);
  &__burger {
    width: 25px;
    height: 25px;
    cursor: pointer;
    fill: var(--color-secondary);
    &:hover {
      transition: 1s;
      fill: var(--color-sidebar-font);
    }
  }
  &__modal {
    font-size: 18px;
    cursor: pointer;
    border-radius: 10px;
    color: var(--color-secondary);
    width: var(--modal-button-width);
    height: var(--modal-button-height);
    background-color: var(--color-primary);
    border: 2px Solid var(--color-secondary);
    &:hover {
      transition: 1s;
      color: var(--color-secondary);
      border: 2px Solid var(--color-secondary);
      background-color: var(--color-sidebar-font);
    }
  }
}
._active-burger {
  fill: var(--color-slider);
}
