@import "assets/styles/optimize.scss";
@import "assets/styles/variables";
@import "assets/styles/default";
@import "assets/styles/buttons.scss";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
