.navbar {
  display: flex;
  height: 105px;
  max-width: 100%;
  align-items: center;
  justify-content: space-around;
  border-bottom: 2px Solid var(--color-secondary);
  &__item {
    &-button {
      width: 300px;
      display: flex;
      height: 105px;
      cursor: pointer;
      align-items: center;
      justify-content: center;
      fill: var(--color-secondary);
      color: var(--color-secondary);
      &:hover {
        height: 105px;
      }
      &._isActive,
      &:hover {
        margin-top: 4px;
        fill: var(--color-slider);
        color: var(--color-slider);
        border-bottom: 4px Solid var(--color-slider);
      }
      &-img {
        width: 45px;
        height: 45px;
      }
      &-text {
        margin: 0 10px;
        font-size: 32px;
        font-family: sans-serif;
      }
    }
  }
}