<ul class="navbar">
	<li *ngFor="let BUTTON of BUTTONS"
	    class="navbar__item">
		<button class="navbar__item-button"
		        [class._isActive]="BUTTON.isActive"
		        (click)="changeItem(BUTTON.id)">
			<svg class="navbar__item-button-img"
			     [attr.data-src]="BUTTON.icon">
			</svg>
			<p class="navbar__item-button-text">
				{{BUTTON.name}}
			</p>
		</button>
	</li>
</ul>
<div *ngFor="let ITEM of ITEMS"
     [ngSwitch]="buttonIdActiveDefault">
	<div *ngSwitchCase=ITEM.id>
		{{ITEM.name}}
	</div>
</div>
