<form class="edit-product-form"
      #form="ngForm">
  <div class="edit-product-form__window">
    <h2 class="edit-product-form__window-title">change product</h2>
    <div class="edit-product-form__window-line">
      <div class="edit-product-form__window-line-item">
        <label class="edit-product-form__window-line-item-text"
               for="api">API</label>
        <input class="edit-product-form__window-line-item-input"
               type="text"
               id="api"
               name="api"
               minlength="6"
               required
               #api="ngModel"
               [ngModel]="product.api">
        <span *ngIf="api.invalid"
              class="edit-product-form__window-line-item-input-required">Please, input 6 symbols</span>
        <span *ngIf="api.valid"
              class="edit-product-form__window-line-item-input-valid">everything is OK!</span>
      </div>
    </div>
    <div class="edit-product-form__window-line">
      <div class="edit-product-form__window-line-item">
        <label class="edit-product-form__window-line-item-text"
               for="auth">Author</label>
        <input class="edit-product-form__window-line-item-input"
               type="text"
               id="auth"
               name="auth"
               minlength="3"
               required
               #auth="ngModel"
               [ngModel]="product.auth">
        <span *ngIf="auth.invalid"
              class="edit-product-form__window-line-item-input-required">Please, input 3 symbols</span>
        <span *ngIf="auth.valid"
              class="edit-product-form__window-line-item-input-valid">everything is OK!</span>
      </div>
      <div class="edit-product-form__window-line-item">
        <span class="edit-product-form__window-line-item-text">Status Cors</span>
        <label class="edit-product-form__window-line-item-check"
               for="yes">
          <div class="edit-product-form__window-line-item-check-wrapper">
            <input type="radio"
                   id="yes"
                   name="cors"
                   value="yes"
                   class="edit-product-form__window-line-item-check-wrapper-button"
                   [ngModel]="product.cors">
            <span class="edit-product-form__window-line-item-check-wrapper-text">yes</span>
          </div>
        </label>
        <label class="edit-product-form__window-line-item-check"
               for="no">
          <div class="edit-product-form__window-line-item-check-wrapper">
            <input type="radio"
                   id="no"
                   name="cors"
                   value="no"
                   class="edit-product-form__window-line-item-check-wrapper-button"
                   [ngModel]="product.cors">
            <span class="edit-product-form__window-line-item-check-wrapper-text">no</span>
          </div>
        </label>
        <label class="edit-product-form__window-line-item-check"
               for="unknown">
          <div class="edit-product-form__window-line-item-check-wrapper">
            <input type="radio"
                   id="unknown"
                   name="cors"
                   value="unknown"
                   class="edit-product-form__window-line-item-check-wrapper-button"
                   [ngModel]="product.cors">
            <span class="edit-product-form__window-line-item-check-wrapper-text">unknown</span>
          </div>
        </label>
      </div>
    </div>
    <div class="edit-product-form__window-line-button">
      <button type="submit" value="Save"
              class="edit-product-form__window-line-button-item"
              (click)="form.valid && saveEditModal.emit(form.value)">Save
      </button>
      <button type="button"
              class="edit-product-form__window-line-button-item"
              (click)="modalService.closeEditModal()">Close
      </button>
    </div>
  </div>
</form>
<div class="edit-product-form__background"
     (click)="modalService.closeEditModal()">
</div>
