.edit-product-form {
  display: flex;
  flex-direction: column;
  &__background {
    width: 100%;
    height: 100%;
    background-color: var(--color-under-table);
  }
  &__window {
    z-index: 1;
    top: 40%;
    left: 45%;
    width: 500px;
    padding: 5px;
    height: 350px;
    position: fixed;
    border-radius: 10px;
    background-color: var(--color-sidebar-background);
    &-title {
      padding: 5px;
      font-size: 23px;
      margin-bottom: 10px;
      color: var(--color-change-product-title);
      border-bottom: 1px solid var(--color-secondary);
    }
    &-line {
      display: flex;
      padding-bottom: 15px;
      &-button {
        display: flex;
        padding-bottom: 15px;
        justify-content: space-around;
        &-item {
          padding: 5px 15px;
          border-radius: 10px;
          color: var(--color-secondary);
          border: 1px solid var(--color-secondary);
          &:hover {
            background-color: var(--color-change-product-title);
          }
        }
      }
      &-item {
        display: flex;
        max-width: 200px;
        margin-left: 15px;
        position: relative;
        flex-direction: column;
        &-text {
          font-size: 20px;
          font-weight: 600;
          margin-bottom: 15px;
          color: var(--color-change-product-title);
        }
        &-check {
          display: flex;
          flex-direction: column;
          &-wrapper {
            display: flex;
            margin-bottom: 10px;
            &-button {
              width: 12px;
              height: 12px;
              appearance: none;
              border-radius: 50%;
              border: 1px solid var(--color-border-table);

              &:checked {
                border: 1px solid var(--color-slider);
                background-color: red;;
              }
            }
            &-text {
              font-size: 12px;
              margin-left: 25px;
              color: var(--color-change-product-title);
            }
          }
        }
        &-input {
          padding: 5px 10px;
          border-radius: 10px;
          color: var(--color-change-product-title);
          border: 1.5px Solid var(--color-change-product-title);
          &-required {
            color: red;
          }
          &-valid {
            color: green;
          }
        }
      }
    }
  }
}
input:invalid {
  border-color: red;
}
input:valid {
  border-color: green;
}
