<div class="popup">
  <div *ngIf="modalService.popup"
       class="popup__background"
       (click)="modalService.closeNotifyModal()">
  </div>
  <div *ngIf="modalService.popup"
       class="popup__content">
    <div class="popup__content-title">
      <p class="popup__content-title-text">
        Notification
      </p>
      <div class="popup__content-title-cross"
           (click)="modalService.closeNotifyModal()">
        <svg data-src="./assets/images/svg/cross.svg"></svg>
      </div>
    </div>
    <div class="popup__content-text">
      Are you sure you want to remove this lead message?
    </div>
    <div class="popup__content-button">
      <button class="popup__content-button-item"
              (click)="modalService.closeNotifyModal()">
        Ok
      </button>
    </div>
  </div>
</div>
