.popup {
  &__background {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.8);
  }
  &__content {
    top: 50%;
    left: 50%;
    width: 500px;
    height: 170px;
    margin-top: -150px;
    position: absolute;
    margin-left: -250px;
    border-radius: 10px;
    color: var(--color-secondary);
    background-color: var(--color-primary);
    &-text {
      width: 500px;
      padding: 20px;
      font-size: 18px;
    }
    &-title {
      width: 500px;
      font-size: 25px;
      padding: 10px 20px;
      align-items: center;
      display: inline-flex;
      border-bottom: 1px solid;
      justify-content: space-between;
      &-text {
        padding-right: 30px;
      }
      &-cross {
        width: 25px;
        height: 25px;
        cursor: pointer;
        fill: var(--color-secondary);
        &:hover {
          transition: 1s;
          fill: var(--color-slider);
        }
      }
    }
    &-button {
      width: 500px;
      text-align: right;
      padding: 10px 20px;
      &-item {
        width: 60px;
        height: 40px;
        font-size: 18px;
        border-radius: 10px;
        color: var(--color-primary);
        background-color: var(--color-slider);
        &:hover {
          transition: 1s;
          color: var(--color-slider);
          border: 1px Solid var(--color-slider);
          background-color: var(--color-primary);
        }
      }
    }
  }
}
