.success {
  display: flex;
  background-color: #43cfc8;
  width: 250px;
  height: 80px;
  color: white;
  position: absolute;
  align-items: center;
  margin: 50px 100px 0 0;
}
.wrapper {
  display: flex;
  justify-content: flex-end;
}
.toolbar {
  background-color: #3c82f6;
}
.spacer {
  flex: 1 1 auto;
  margin-top: 15px;
}
.button-reg {
  color: white;
  &:hover {
    background-color: pink;
    transition: 0.5s;
    &:active {
      color: red;
    }
  }
}
.home {
  color: white;
  transition: 0.2s;
  cursor: pointer;
  &:hover {
    color: pink;
    &:active {
      color: red;
    }
  }
}
.my-form{
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}
.full-width {
  width: 100%;
  &-error {
    color: red;
  }
  &-okey {
    color: green;
  }
}
.content {
  display: flex;
  justify-content: center;
  margin: 20px 215px;
  padding: 10px 10px;
  border-radius: 4px;
  &__register {
    display: flex;
    justify-content: center;
  }
}
