<div class="wrapper">
  <mat-card *ngIf="isSuccess"
            class="success">The user has been successfully registered
  </mat-card>
</div>
<mat-toolbar class="toolbar">
  <mat-toolbar-row>
    <span><a class="home">HOME</a></span>
    <span class="spacer"></span>
    <a mat-button class="button-reg">Register</a>
    <a mat-button class="button-reg">Login</a>
  </mat-toolbar-row>
</mat-toolbar>
<mat-card-content class="content">
  <form class="my-form"
        #registration="ngForm">
    <mat-form-field class="full-width">
      <mat-label>First Name</mat-label>
      <input matInput
             placeholder="First name"
             type="text"
             name="firstname"
             minlength="8"
             #firstname="ngModel"
             [ngModel]=""
             required>
    </mat-form-field>
    <span class="full-width-error"
          [hidden]="firstname.valid || firstname.untouched">
      Please specify a minimum of 8 characters
    </span>
    <mat-form-field class="full-width">
      <mat-label>Last Name</mat-label>
      <input matInput
             placeholder="Last Name"
             type="text"
             name="lastname"
             maxlength="16"
             pattern="[A-Za-z]+"
             #lastname="ngModel"
             [ngModel]=""
             required>
    </mat-form-field>
    <span class="full-width-error"
          [hidden]="lastname.valid || lastname.untouched">
      Please, use English only
    </span>
    <mat-form-field class="full-width">
      <mat-label>Email</mat-label>
      <input matInput
             placeholder="Email"
             type="email"
             name="email"
             email
             #email="ngModel"
             [ngModel]=""
             required>
    </mat-form-field>
    <span class="full-width-error"
          [hidden]="email.valid || email.untouched">
      Error of input email
    </span>
    <mat-form-field class="full-width">
      <mat-label>Password</mat-label>
      <input matInput
             placeholder="Password"
             type="password"
             name="password"
             pattern="[0-9a-zA-Z]{8,}"
             #password="ngModel"
             [ngModel]=""
             required>
    </mat-form-field>
    <span class="full-width-error"
          [hidden]="password.valid || password.untouched">
      Error of input email
    </span>
  </form>
</mat-card-content>
<mat-card-actions class="content__register">
  <button mat-raised-button
          color="primary"
          type="submit"
          [disabled]="firstname.invalid || lastname.invalid || email.invalid"
          (click)="registration.valid && register()">REGISTER
  </button>
</mat-card-actions>
